<div
  class="w-60 min-h-screen bg-gray-50 border-r border-gray-200 flex flex-col"
>
  <!-- Header -->
  <div class="p-4 border-b border-gray-200 flex items-center">
    <img src="/images/logo_horizontal.png" alt="Forte" class="px-2" />
  </div>

  <!-- Navigation -->
  <nav class="flex-1 p-4">
    <ul class="space-y-1">
      @for (item of navigationItems; track item.route) {
      <li>
        <a
          [routerLink]="item.route"
          routerLinkActive="bg-gray-200 hover:bg-gray-200 text-gray-900"
          class="flex items-center px-3 py-2 text-sm font-medium text-gray-700 rounded-md hover:bg-gray-100 hover:text-gray-900 border border-transparent transition-colors"
        >
          <i [class]="item.icon + ' mr-2'"></i>
          {{ item.label }}
        </a>
      </li>
      }
    </ul>
  </nav>

  <!-- Logout Button -->
  <div class="p-4">
    <p-button
      fluid
      label="Atsijungti"
      icon="pi pi-sign-out"
      variant="outlined"
      size="small"
      (onClick)="logout()"
    >
    </p-button>
  </div>
</div>
