@import "tailwindcss";
@import "primeicons/primeicons.css";
@plugin "tailwindcss-primeui";
@import "@fontsource/cal-sans";
@import "@fontsource-variable/inter";

body {
  font-family: "Inter Variable", sans-serif;
  background-color: #ffffff;
  color: var(--p-text-color);
}

h1,
h2,
h3 {
  font-family: "Cal Sans", "Inter Variable", system-ui, -apple-system,
    sans-serif;
}
